<a href="https://colab.research.google.com/github/orbenishay/Classification/blob/master/number%20of%20shares%20in%20social%20networks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Number of shares in social networks**

https://code.datasciencedojo.com/datasciencedojo/datasets/tree/master/Online%20News%20Popularity

In [1]:
# import modules
# General tools
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import re
import warnings

# Pandas
from datetime import datetime
from datetime import timedelta



# Pipieline summarized:
from scipy.optimize import curve_fit# For curve fitting
from sklearn.base import TransformerMixin # For transformations and predictions
from sklearn.preprocessing import FunctionTransformer
from sklearn.base import BaseEstimator # For predictions
from sklearn.metrics import mean_squared_log_error as msle # For scoring
from sklearn.metrics import mean_squared_error as mse # For scoring
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor, export_graphviz
from sklearn.neighbors import KNeighborsRegressor
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import pairwise_distances
import pydot as pyd # For the tree visualization
from IPython.display import Image
from sklearn.externals.six import StringIO
from sklearn.model_selection import train_test_split # For validation
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import PolynomialFeatures
from sklearn.preprocessing import LabelBinarizer
from sklearn.feature_extraction.text import CountVectorizer

from sklearn.metrics import confusion_matrix, accuracy_score # For classification
from sklearn.metrics import precision_score, recall_score, f1_score # For classification
from sklearn.metrics import log_loss # For classification

!pip install pydot

import sys

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm
/usr/local/lib/python3.6/dist-packages/sklearn/externals/six.py:31: FutureWarning: The module is deprecated in version 0.21 and will be removed in version 0.23 since we've dropped support for Python 2.7. Please rely on the official version of six (https://pypi.org/project/six/).
  "(https://pypi.org/project/six/).", FutureWarning)

Requirement already satisfied: pydot in /usr/local/lib/python3.6/dist-packages (1.3.0)
Requirement already satisfied: pyparsing>=2.1.4 in /usr/local/lib/python3.6/dist-packages (from pydot) (2.4.7)

### **Load files (dataset and dictionary)**

In [7]:
import sys
if 'google.colab' in sys.modules:
    from google.colab import files
    uploaded = files.upload()

Saving Dictionary.csv to Dictionary (1).csv

### **Create dadtaframe**

In [10]:
shares=pd.read_csv('Shares.csv', index_col='url')
shares.head()

dictionary=pd.read_csv('Dictionary.csv', index_col='Column Position')
dictionary.head()

                   Atrribute Name  ...                                            Example
Column Position                    ...
1                             URL  ...  "http://mashable.com/2013/01/07/amazon-instant...
2                       Timedelta  ...                                                731
3                  N_Tokens_Title  ...                                                 12
4                N_Tokens_Content  ...                                                219
5                 N_Unique_Tokens  ...                                        0.663594467

[5 rows x 4 columns]

### **Data Cleansing**

In [12]:
shares = shares[shares.isnull().sum(axis=1)<3] # Remove rows with more than 3 `NaN`'s.
shares = shares.loc[:, ~shares.columns.str.contains(r'review', case=False)] # remove specific columns
shares.drop_duplicates(inplace=True) # Remove duplicates
shares.drop_duplicates(subset=['director_name', 'title_year'], inplace=True) # Remove duplicates with subsets: Only consider certain columns for identifying duplicates, by default use all of the columns
shares.index.value_counts().head() # look for duplications

# Clean the data:
shares = shares.loc[shares['bedrooms']<8,:] # filter dataset based on a column's values
shares = shares.loc[(shares.bedrooms<8) & (shares.bathrooms<8)]
shares = shares.loc[shares.accommodates * shares.minimum_nights != 0] # remove rows with 0 values at either columns
shares = shares.loc[(shares.bedrooms - shares.bathrooms).abs() < 5] # remove based on TPA

# def drop_zeros(df): # remove zeros
#     return df.loc[df.x * df.y * df.z != 0]
# zeros_dropper = FunctionTransformer(drop_zeros, validate=False)
# diamonds = zeros_dropper.fit_transform(diamonds)

shares.shape # after each cleaning step: check how many rows were deleted

(39644, 60)

In [0]:
# More data cleansing
for col in bnb.columns: # remove outliers >3 sigma from all the fields
    if bnb[col].dtype == 'float64':
        std = bnb[col].std()
        ave = bnb[col].mean()
        bnb = bnb.loc[bnb[col].between(ave-3*std, ave+3*std)]
        print(f'processing {col:10} --> {bnb.shape[0]:5} assets remain')

# xz_model = LinearRegression().fit(diamonds[['x']], diamonds.z) # remove bivariate outliers
# z_pred = xz_model.predict(diamonds[['x']])
# diamonds = diamonds.loc[(diamonds.z-z_pred).abs()<0.35]

# x_carat_model = LinearRegression().fit(diamonds[['x']], diamonds.carat) # remove by linear regression
# carat_pred = x_carat_model.predict(diamonds[['x']])
# diamonds = diamonds.loc[(diamonds.carat-carat_pred).abs()<0.3]
# sns.scatterplot(x='x', y='carat', data=diamonds)

# def exponential(x, a, b, c, d): # remove by exponential regression
#     return a + b*np.exp(c*x+d)
# popt, _ = curve_fit(exponential, xdata=diamonds.x, ydata=diamonds.carat)
# print(popt)
# a, b, c, d = popt
# carat_pred = diamonds.x.apply(exponential, a=a, b=b, c=c, d=d) # plot the curve
# plt.plot(diamonds.x, diamonds.carat, '.b', 
#               diamonds.x, carat_pred, '.g')
# plt.text(6, 0.5, r'$carat = -0.47+19.56 x exp(0.3x-4.56)$')
# residuals = (diamonds.carat - carat_pred).abs() #evaluate the residuals and remove data points as we wish.
# residuals.hist(bins=100)

### **Dataset explration**

In [18]:
shares.describe() # describe with subset
shares[['room_type','price']].groupby('room_type').describe() # describe with subset
shares.nunique() # how many values per field
shares.loc[:,['d_centre','price']] # slice dataframe (show specific columns)
shares.timedelta.loc[:,].count() # count of entries in a column of a df
shares.shape # dimention of df

shares.bedrooms.value_counts().head(10) #Count entries per value:

          timedelta   n_tokens_title  ...   abs_title_subjectivity         shares
count  39644.000000     39644.000000  ...             39644.000000   39644.000000
mean     354.530471        10.398749  ...                 0.341843    3395.380184
std      214.163767         2.114037  ...                 0.188791   11626.950749
min        8.000000         2.000000  ...                 0.000000       1.000000
25%      164.000000         9.000000  ...                 0.166667     946.000000
50%      339.000000        10.000000  ...                 0.500000    1400.000000
75%      542.000000        12.000000  ...                 0.500000    2800.000000
max      731.000000        23.000000  ...                 0.500000  843300.000000

[8 rows x 58 columns]